<!DOCTYPE html>
<html class="btn btn-primary">
  <head>
    <title>FlashCards</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'bootstrap-theme', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>FlashCards</h1>
      <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <%= link_to "home", root_path, class: "navbar-brand" %>

    <div class="collapse navbar-collapse" id="navbarColor01">

      <ul class="navbar-nav mr-auto">
        <% if current_user %>
        <li class="nav-item">
          <%= link_to "profile", user_path(@user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "logout", logout_path, class: "nav-link" %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to "login", login_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "register", new_user_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    </div>
    </nav>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if current_user %>
    <h3>Welcome <%= @user.name %>!</h3>
    <% end %>

    <%= yield %>
  </body>
</html>
